 body { font-family: Arial; background:#f3f7f9; padding:20px; }
        h1 { color:#01D277; }

        #search-container { background:#fff; padding:20px; border-radius:8px; margin-bottom:20px; }
        input { padding:10px; width:250px; font-size:16px; }
        button { padding:10px 15px; background:#01D277; color:#fff; border:none; cursor:pointer; border-radius:6px; }

        #resultado-card {
            background:#e9fff5; border:2px solid #01D277;
            padding:20px; border-radius:8px;
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }

        #poster {
            width: 220px;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        }

        #output {
            margin-top:20px;
            background:#222; color:#01D277; padding:10px;
            font-family: monospace; white-space:pre-wrap;
            border-radius:6px;
        }